{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | WebAPITest</title>
    <script>
        var token = '{{ token }}';
     </script>
  </head>
  <body style="text-align: center">
    <header>
      <a href="api-auth/login/">Login</a>
  </header>
    <canvas id="unity-canvas" width=960 height=600 style="width: 960px; height: 600px; background: #231F20"></canvas>
    <script src={% static "unity/Build/Build.loader.js" %}></script>
    <script>
      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        // Mobile device style: fill the whole browser client area with the game canvas:
        var meta = document.createElement('meta');
        meta.name = 'viewport';
        meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
        document.getElementsByTagName('head')[0].appendChild(meta);
      }
      var baseURL = "{% static 'unity/' %}";
      var buildUrl = baseURL + "Build";
      var loaderUrl = buildUrl + "/web.loader.js";
      var config = {
        dataUrl: buildUrl + "/Build.data",
        frameworkUrl: buildUrl + "/Build.framework.js",
        codeUrl: buildUrl + "/Build.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "eLearning@FSU",
        productName: "eRebuild",
        productVersion: "22.0.0",
      };
      createUnityInstance(document.querySelector("#unity-canvas"), config);
    </script>
  </body>
</html>